.emotions {
  width: 174px;
  height: 174px;
  border: 2px solid black;
  background-repeat: no-repeat;
}
#Joy:checked ~ .emotions {
  background-image: url(images1/joy.png);
}
#Sadness:checked ~ .emotions {
  background-image: url(images1/sadness.png);
}

#Anger:checked ~ .emotions {
  background-image: url(images1/anger.png);
}
#Fear:checked ~ .emotions {
	background-image: url(images1/fear.png);
}

#Disgust:checked ~ .emotions {
  background-image: url(images1/disgust.png);
}

